# .gitignore 
# Project files and directories 
/booklib/local_settings.py 
/booklib/static/ 
/booklib/tmp/ 
/booklib/media/ 
# Byte-compiled 
/ optimized 
/ DLL files __pycache__/ 
*.py[cod] 
*$py.class 
# C extensions 
*.so # PyInstaller 
*.manifest 
*.spec 
# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 
# Unit test 